extends layout

block content
    div.w3-card-4
        header.w3-container.w3-brown
            h1= compositor.nome

        div.w3-container
            ul.w3-ul.w3-card-4(style="width:50%")
                li
                    b ID:
                    |  #{compositor.id}
                li
                    b Biografia:
                    |  #{compositor.bio}
                li
                    b Data de Nascimento:
                    |  #{compositor.dataNasc}
                li
                    b Data de Óbito:
                    |  #{compositor.dataObito}
                li
                    b Período:
                    |  #{compositor.periodo}

        footer.w3-container.w3-brown
            h5 Gerado por EngWeb2024 em #{d} - [
                a(href="/compositores") Voltar
                span ]
